.alice-carousel {
    /*position: absolute;*/
    /*width: 98%;*/
    /*left: 0;*/
    max-width: calc(99vw - 480px);
}

@media screen and (max-width: 1091px) {
    .alice-carousel {
        max-width: calc(100vw - 370px);
    }
}
@media screen and (max-width: 800px) {
    .alice-carousel {
        max-width: calc(100vw - 60px);
    }
}

.alice-carousel__wrapper {
    /*height: 300px;*/
    width: 100%;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
    background-color: #FFB400;
}
